<a href="https://colab.research.google.com/github/SarahSchilling618/project-4/blob/main/dementia_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 435.7 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.2 MB 751.6 kB/s eta 0:00:02
   -------------------------------- ------- 0.9/1.2 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 6.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [2]:
import psycopg2
from psycopg2 import sql
import pandas as pd

In [3]:
db_params = {
    'dbname': 'project4',
    'user': 'postgres',
    'password': 'postgres',
    'host': 'localhost',
    'port': '5432'
}

# Establish the connection
conn = psycopg2.connect(**db_params)
cursor = conn.cursor()

In [4]:
cursor.execute('SELECT * FROM dementia LIMIT 5;')
rows = cursor.fetchall()

In [5]:
colnames = [desc[0] for desc in cursor.description]
df = pd.DataFrame(rows, columns=colnames)

In [ ]:
df

,Diabetic,AlcoholLevel,HeartRate,BloodOxygenLevel,BodyTemperature,Weight,MRI_Delay,Prescription,Dosage_in_mg,Age,...,Smoking_Status,APOE_4,Physical_Activity,Depression_Status,Cognitive_Test_Scores,Medication_History,Nutrition_Diet,Sleep_Quality,Chronic_Health_Conditions,Dementia
0,1,0.084974,98,96.230743,36.224852,57.563978,36.421028,None,NaN,60,...,Current Smoker,Negative,Sedentary,No,10,No,Low-Carb Diet,Poor,Diabetes,0
1,0,0.016973,78,93.032122,36.183874,56.832335,31.157633,Galantamine,12.0,61,...,Former Smoker,Positive,Moderate Activity,No,1,Yes,Low-Carb Diet,Poor,Heart Disease,1
2,0,0.009000,89,93.566504,37.326321,59.759066,37.640435,None,NaN,69,...,Former Smoker,Negative,Moderate Activity,No,8,No,Mediterranean Diet,Poor,Heart Disease,0
3,0,0.086437,60,93.906510,37.030620,58.266471,50.673992,Donepezil,23.0,78,...,Never Smoked,Negative,Mild Activity,Yes,5,Yes,Balanced Diet,Poor,Hypertension,1
4,1,0.150747,67,97.508994,36.062121,67.705027,27.810601,Memantine,20.0,77,...,Never Smoked,Positive,Mild Activity,No,0,Yes,Low-Carb Diet,Good,Diabetes,1

In [6]:
conn.close()

In [7]:
conn = psycopg2.connect(**db_params)
cursor = conn.cursor()

distinct_values_query = '''
    SELECT DISTINCT "Smoking_Status"
    FROM dementia;
'''
cursor.execute(distinct_values_query)
distinct_values = cursor.fetchall()

print("Distinct values in the Smoking_Status column:")
for value in distinct_values:
    print(value[0])

Distinct values in the Smoking_Status column:
Never Smoked
Current Smoker
Former Smoker

In [8]:
update_query = '''
    UPDATE dementia
    SET "Smoking_Status" = CASE
        WHEN "Smoking_Status" = 'Never Smoked' THEN '0'
        WHEN "Smoking_Status" = 'Former Smoker' THEN '1'
        WHEN "Smoking_Status" = 'Current Smoker' THEN '2'
        ELSE "Smoking_Status"
    END;
'''
cursor.execute(update_query)

In [9]:
conn.commit()

In [10]:
update_query = '''
    UPDATE dementia
    SET "APOE_4" = CASE
        WHEN "APOE_4" = 'Negative' THEN '0'
        WHEN "APOE_4" = 'Positive' THEN '1'
        ELSE "APOE_4"
    END;
'''
cursor.execute(update_query)

conn.commit()

In [11]:
physical_activity_check = '''
    SELECT DISTINCT "Physical_Activity"
    FROM dementia;
'''
cursor.execute(physical_activity_check)
distinct_pa = cursor.fetchall()

for value in distinct_pa:
    print(value[0])

Mild Activity
Sedentary
Moderate Activity

In [12]:
update_query = '''
    UPDATE dementia
    SET "Physical_Activity" = CASE
        WHEN "Physical_Activity" = 'Sedentary' THEN '0'
        WHEN "Physical_Activity" = 'Mild Activity' THEN '1'
        WHEN "Physical_Activity" = 'Moderate Activity' THEN '2'
    END;
'''
cursor.execute(update_query)

conn.commit()

In [13]:
update_query = '''
    UPDATE dementia
    SET "Depression_Status" = CASE
        WHEN "Depression_Status" = 'No' THEN '0'
        WHEN "Depression_Status" = 'Yes' THEN '1'
    END;
'''
cursor.execute(update_query)

conn.commit()

In [14]:
update_query = '''
    UPDATE dementia
    SET "Medication_History" = CASE
        WHEN "Medication_History" = 'No' THEN '0'
        WHEN "Medication_History" = 'Yes' THEN '1'
    END;
'''
cursor.execute(update_query)

conn.commit()

In [15]:
diet_check = '''
    SELECT DISTINCT "Nutrition_Diet"
    FROM dementia;
'''
cursor.execute(diet_check)
distinct_diet = cursor.fetchall()

for value in distinct_diet:
    print(value[0])

Mediterranean Diet
Low-Carb Diet
Balanced Diet

In [16]:
update_query = '''
    UPDATE dementia
    SET "Nutrition_Diet" = CASE
        WHEN "Nutrition_Diet" = 'Low-Carb Diet' THEN '0'
        WHEN "Nutrition_Diet" = 'Mediterranean Diet' THEN '1'
        WHEN "Nutrition_Diet" = 'Balanced Diet' THEN '2'
    END;
'''
cursor.execute(update_query)

conn.commit()

In [17]:
update_query = '''
    UPDATE dementia
    SET "Sleep_Quality" = CASE
        WHEN "Sleep_Quality" = 'Poor' THEN '0'
        WHEN "Sleep_Quality" = 'Good' THEN '1'
    END;
'''
cursor.execute(update_query)

conn.commit()

In [18]:
health_check = '''
    SELECT DISTINCT "Chronic_Health_Conditions"
    FROM dementia;
'''
cursor.execute(health_check)
distinct_health = cursor.fetchall()

for value in distinct_health:
    print(value[0])

Hypertension
None
Diabetes
Heart Disease

In [19]:
update_query = '''
    UPDATE dementia
    SET "Chronic_Health_Conditions" = CASE
        WHEN "Chronic_Health_Conditions" = 'None' THEN '0'
        WHEN "Chronic_Health_Conditions" = 'Hypertension' THEN '1'
        WHEN "Chronic_Health_Conditions" = 'Diabetes' THEN '2'
        WHEN "Chronic_Health_Conditions" = 'Heart Disease' THEN '3'
    END;
'''
cursor.execute(update_query)

conn.commit()

In [23]:
cursor.execute('SELECT * FROM dementia;')
rows = cursor.fetchall()

colnames2 = [desc[0] for desc in cursor.description]
df_clean = pd.DataFrame(rows, columns=colnames2)

df_clean

,Diabetic,AlcoholLevel,HeartRate,BloodOxygenLevel,BodyTemperature,Weight,MRI_Delay,Prescription,Dosage_in_mg,Age,...,Smoking_Status,APOE_4,Physical_Activity,Depression_Status,Cognitive_Test_Scores,Medication_History,Nutrition_Diet,Sleep_Quality,Chronic_Health_Conditions,Dementia
0,0,0.198686,100,94.471831,37.390617,63.655987,32.838156,None,NaN,72,...,1,1,1,0,9,0,2,1,0,0
1,1,0.003927,69,98.670018,36.903036,88.023116,46.508864,None,NaN,66,...,2,0,1,0,10,0,2,1,2,0
2,1,0.044326,71,96.386999,36.296598,95.907912,43.294718,None,NaN,80,...,0,1,1,0,8,1,2,1,2,0
3,0,0.197872,71,95.621297,36.141261,68.366558,27.740876,None,NaN,84,...,0,1,1,0,10,0,0,0,0,0
4,0,0.021376,84,93.794230,36.512407,60.074591,22.722012,None,NaN,79,...,1,1,2,0,8,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,0.125142,64,94.218010,36.784245,88.915987,17.774594,None,NaN,66,...,0,0,0,0,8,0,0,0,2,0
996,1,0.172027,75,90.475116,36.505481,70.731495,2.185273,None,NaN,65,...,0,0,0,0,9,1,2,1,2,0
997,1,0.100825,93,95.315495,36.426666,87.881679,58.257832,None,NaN,72,...,0,1,1,0,9,1,2,0,2,0
998,1,0.017496,75,99.859658,37.311496,59.076368,2.357196,None,NaN,72,...,2,1,0,0,9,1,2,1,2,0
999,0,0.030531,76,96.493361,37.145344,87.038582,18.230950,Memantine,5.0,70,...,0,1,0,1,0,1,1,0,1,1

In [24]:
df_clean.to_csv('dementia_clean.csv')